<section class="hero-form" *ngIf="!!hero">
  <header>
    <a (click)="close()" class="close">
      <fa-icon [icon]="'times'"></fa-icon>
    </a>
    <input type="text" id="herosName" [(ngModel)]="hero.name" placeholder="Hero's name"/>
  </header>
  <main>
    <article class="form-row">
      <label for="herosClass">Class</label>
      <select id="herosClass" [(ngModel)]="hero.characterClass">
        <option *ngFor="let heroClass of heroClasses" [ngValue]="heroClass">{{heroClass.name}}</option>
      </select>
    </article>

    <article class="form-row">
      <label for="herosLevel">Level</label>
      <input type="number" id="herosLevel" min="1" max="20" [(ngModel)]="hero.level"/>
    </article>

    <article class="form-row attributes">
      <div class="attribute">
        <label for="herosStr">STR</label>
        <input type="number" id="herosStr" min="0" max="20" [(ngModel)]="hero.attributes.strength"/>
      </div>
      <div class="attribute">
        <label for="herosDex">DEX</label>
        <input type="number" id="herosDex" min="0" max="20" [(ngModel)]="hero.attributes.dexterity"/>
      </div>
      <div class="attribute">
        <label for="herosCon">CON</label>
        <input type="number" id="herosCon" min="0" max="20" [(ngModel)]="hero.attributes.constitution"/>
      </div>
      <div class="attribute">
        <label for="herosInt">INT</label>
        <input type="number" id="herosInt" min="0" max="20" [(ngModel)]="hero.attributes.intelligence"/>
      </div>
      <div class="attribute">
        <label for="herosWis">WIS</label>
        <input type="number" id="herosWis" min="0" max="20" [(ngModel)]="hero.attributes.wisdom"/>
      </div>
      <div class="attribute">
        <label for="herosCha">CHA</label>
        <input type="number" id="herosCha" min="0" max="20" [(ngModel)]="hero.attributes.charisma"/>
      </div>
    </article>
  </main>
  <footer>
    <a (click)="saveHero()" class="btn">
      <fa-icon [icon]="'save'"></fa-icon>
    </a>
  </footer>
</section>
