<section class="character-editor overlay">
  <h6>{{title()}}</h6>

  <article class="form-row">
    <label for="selectType">Character's type</label>
    <select id="selectType" [(ngModel)]="character.type" [disabled]="isTypeDisabled()">
      <option *ngFor="let characterType of characterTypes" [ngValue]="characterType">{{characterType}}</option>
    </select>
  </article>

  <section [hidden]="!isNPC()">
    <article class="form-row">
      <label for="CharacterName">Character Name</label>
      <input type="text" id="CharacterName" [(ngModel)]="character.name" placeholder="Character's name..."/>
    </article>
    <article class="form-row">
      <label for="hostility">Hostile ?</label>
      <input id="hostility" type="checkbox" [(ngModel)]="character.hostile"/>
    </article>
  </section>

  <section [hidden]="!isPlayer()">
    <label for="hero">Player</label>
    <select id="hero" [(ngModel)]="player" (change)="onPlayerSelect()">
      <option *ngFor="let p of players" [ngValue]="p">{{playerStr(p)}}</option>
    </select>
  </section>

  <a  (click)="onSubmit()" class="btn">
    <fa-icon icon="user-check"></fa-icon>
  </a>
</section>
