<section class="pc-form" *ngIf="!!pc" [class]="classBackground()">
  <header>
    <input type="text" id="playerName" [(ngModel)]="pc.name" placeholder="Player's name"/>
  </header>
  <main>
    <article class="form-row">
      <label for="playerClass">Class</label>
      <select id="playerClass" [(ngModel)]="pc.characterClass">
        <option *ngFor="let playerClass of keys(characterClasses)" [ngValue]="characterClasses[playerClass]">{{characterClasses[playerClass]?.name}}</option>
      </select>
    </article>

    <article class="form-row">
      <label for="playerLevel">Level</label>
      <input type="number" id="playerLevel" min="1" max="20" [(ngModel)]="pc.level"/>
    </article>

    <article class="form-row">
      <label for="pcHP">Health Points</label>
      <div id="pcHP">
        <input type="number" min="1" [(ngModel)]="pc.hp" placeholder="current HP"/>
        <strong>/</strong>
        <input type="number" min="1" [(ngModel)]="pc.maxHP" placeholder="max HP"/>
      </div>
    </article>

    <article class="form-row attributes">
      <div class="attribute">
        <label for="playerStr">STR</label>
        <input type="number" id="playerStr" min="0" max="20" [(ngModel)]="pc.attributes.strength"/>
      </div>
      <div class="attribute">
        <label for="playerDex">DEX</label>
        <input type="number" id="playerDex" min="0" max="20" [(ngModel)]="pc.attributes.dexterity"/>
      </div>
      <div class="attribute">
        <label for="playerCon">CON</label>
        <input type="number" id="playerCon" min="0" max="20" [(ngModel)]="pc.attributes.constitution"/>
      </div>
      <div class="attribute">
        <label for="playerInt">INT</label>
        <input type="number" id="playerInt" min="0" max="20" [(ngModel)]="pc.attributes.intelligence"/>
      </div>
      <div class="attribute">
        <label for="playerWis">WIS</label>
        <input type="number" id="playerWis" min="0" max="20" [(ngModel)]="pc.attributes.wisdom"/>
      </div>
      <div class="attribute">
        <label for="playerCha">CHA</label>
        <input type="number" id="playerCha" min="0" max="20" [(ngModel)]="pc.attributes.charisma"/>
      </div>
    </article>
  </main>
  <footer>
    <a (click)="savePlayer()" class="btn">
      <fa-icon [icon]="'save'"></fa-icon>
    </a>
  </footer>
</section>
