@import 'src/variables';

.npcs {
  padding: 1rem 0 0 1rem;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 3rem 1fr;

  height: calc(100% - #{$footer-height});

  > header {
    margin: 0;
    padding: 0 0 2rem 2rem;
    border-bottom: 1px solid $bg-x-light;

    display: flex;
    flex-direction: row;

    > nav {
      display: flex;
      flex-direction: row;
      place-content: flex-end;

      width: 100%;
      padding: 0 2rem;

      .btn {
        background-color: $bg-x-light;

        margin: 0.5rem;
        padding: 0.75rem;

        height: 1rem;
        font-size: 1rem;
        width: auto;

        cursor: pointer;

        fa-icon {
          position: relative;
          top: -3px;
        }

        span {
          margin-left: 0.5rem;
        }
      }
    }

  }

  .filters {
    display: flex;
    flex-direction: row;
    place-content: flex-end;

    padding: 0.5rem;

    input {
      position: relative;
      top: 0.75rem;
      width: 20rem;
    }

    .hostility {
      background-color: $bg-x-light;

      margin: 0.5rem;
      padding: 0.75rem;

      height: 1rem;
      width: 1rem;
      font-size: 1rem;

      cursor: pointer;

      transition: $transition-speed;

      fa-icon {
        position: relative;
        top: -3px;
      }

    }

    .hostility:hover, .hostility.active {
      color: $link-color;
    }
  }

  main {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1rem 1fr;


    .npcs-tiles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1rem;
    }

    .npc-tile {
      flex: 1;

      display: grid;
      grid-template-rows: 2.5rem 6rem 1.5rem;

      min-width: 17rem;
      max-width: 17rem;
      min-height: 10rem;
      max-height: 10rem;

      margin: 1rem;
      padding: 1rem;

      background-color: $bg-dark;

      header {
        font-family: 'Krona One';
        font-size: $font-size-base * 1.1;
        position: relative;
        top: 0;
        left: 0;

        .cr-badge {
          position: absolute;
          right: 0;
          top: -1.5rem;

          font-weight: bold;
          padding: 0.2rem 0.1rem 0.4rem 0.1rem;
          color: $bg-light;
        }

        .friendly-badge {
          background-color: #255a25;
        }

        .hostile-badge {
          background-color: #642626;
        }
      }

      main {
        .attributes {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 3.5rem;

          .attribute {
            display: flex;

            flex-direction: column;
            text-align: center;

            width: 2rem;

            margin: 0 0.2rem;

            border: 2px dotted $bg-x-light;
          }
        }
      }

      footer {
        display: flex;
        flex-direction: row;
        place-content: flex-end;

        > a {
          margin: 0 0.5rem;
        }
      }
    }

  }
}
