<div class="modal-header">
  <h4 class="modal-title">Character Creation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>What do you want to create ?</h5>
  <div class="form-group">
    <label for="CharacterName">Character Name</label>
    <input type="text" id="CharacterName" class="form-control" placeholder="Pierre Marin"
           [(ngModel)]="character.name">
  </div>
  <div class="form-group">
    <label for="selectType">Type of Character</label>
    <select class="form-control" id="selectType" [(ngModel)]="character.type">
      <option *ngFor="let type of typeArray">{{type}}</option>
    </select>
  </div>
  <div *ngIf="character.type === type.Player" class="form-group">
    <label for="selectClass">Class of Character</label>
    <select class="form-control" id="selectClass" [(ngModel)]="character.class">
      <option *ngFor="let classCharacter of classArray">{{classCharacter}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="HPCharacter">Actual HP</label>
    <input type="number" class="form-control" id="HPCharacter" [(ngModel)]="character.actualHealth">
  </div>
  <div class="form-group">
    <label for="MaxHPCharacter">Maximum HP</label>
    <input type="number" class="form-control" id="MaxHPCharacter" [(ngModel)]="character.maxHealth">
  </div>
  <button [disabled]="!canSumbit()" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</div>
<div class="modal-footer">

</div>
