<section class="heroes">
  <header>
    <h2>Heroes</h2>
    <nav>
      <a (click)="createNewHero()" class="btn">
        <fa-icon [icon]="'user-plus'"></fa-icon>
      </a>
    </nav>
  </header>
  <main>
    <section class="heroes-tiles">
      <article *ngFor="let h of heroes$ | async" class="hero-tile">
        <header>
          <span>{{h.name}}</span>
          <span class="level-badge" [class]="classBadgeCls(h)">{{h.level}}</span>
        </header>
        <main>
          <span class="attributes">
            <span class="attribute"><span>Str</span><span>{{h?.attributes?.strength}}</span></span>
            <span class="attribute"><span>Dex</span><span>{{h?.attributes?.dexterity}}</span></span>
            <span class="attribute"><span>Con</span><span>{{h?.attributes?.constitution}}</span></span>
            <span class="attribute"><span>Int</span><span>{{h?.attributes?.intelligence}}</span></span>
            <span class="attribute"><span>Wis</span><span>{{h?.attributes?.wisdom}}</span></span>
            <span class="attribute"><span>Cha</span><span>{{h?.attributes?.charisma}}</span></span>
          </span>
        </main>
        <footer>
          <a (click)="editHero(h)">
            <fa-icon [icon]="'hammer'"></fa-icon>
          </a>
          <a (click)="deleteHero(h)">
            <fa-icon [icon]="'trash'"></fa-icon>
          </a>
        </footer>
      </article>
    </section>
    <section class="hero-edition" *ngIf="(hero$ |async)">
      <dnd-hero></dnd-hero>
    </section>
  </main>
</section>
