@import '~src/variables';

.heroes {
  padding: 1rem 0 0 1rem;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;

  height: calc(100% - #{$footer-height});

  > header {
    margin: 0;
    padding: 0 0 2rem 2rem;
    border-bottom: 1px solid $bg-light;

    display: flex;
    flex-direction: row;

    > nav {
      display: flex;
      flex-direction: row;
      place-content: flex-end;

      width: 100%;
      padding: 0 2rem;

      .btn {
        background-color: $bg-x-light;
        font-size: $font-size-base * 1.5;

        margin: 0.5rem;
        padding: 0.5rem;
      }
    }

  }

  main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 12rem;

    .heroes-tiles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1rem;
    }

    .hero-tile {
      flex: 1;

      display: grid;
      grid-template-rows: 2.5rem 6rem 1.5rem;

      min-width: 17rem;
      max-width: 17rem;
      min-height: 10rem;
      max-height: 10rem;

      margin: 1rem;
      padding: 1rem;

      background-color: $bg-dark;

      header {
        font-family: 'Krona One';
        font-size: $font-size-base * 1.1;
        position: relative;
        top: 0;
        left: 0;

        .level-badge {
          position: absolute;
          right: 0;
          top: -1.5rem;

          font-weight: bold;
          padding: 0.2rem 0.1rem 0.4rem 0.1rem;
          color: $bg-light;
        }
        .Barbarian-badge {
          background-color: $barbarian-color;
        }
        .Bard-badge {
          background-color: $bard-color;
        }
        .Cleric-badge {
          background-color: $cleric-color;
        }
        .Druid-badge {
          background-color: $druid-color;
        }
        .Fighter-badge {
          background-color: $fighter-color;
        }
        .Monk-badge {
          background-color: $monk-color;
        }
        .Paladin-badge {
          background-color: $paladin-color;
        }
        .Ranger-badge {
          background-color: $ranger-color;
        }
        .Rogue-badge {
          background-color: $rogue-color;
        }
        .Sorcerer-badge {
          background-color: $sorcerer-color;
        }
        .Warlock-badge {
          background-color: $warlock-color;
        }
        .Wizard-badge {
          background-color: $wizard-color;
        }
      }

      main {
        .attributes {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 3.5rem;

          .attribute {
            display: flex;

            flex-direction: column;
            text-align: center;

            width: 2rem;

            margin: 0 0.2rem;

            border: 2px dotted $bg-x-light;
          }
        }
      }

      footer {
        display: flex;
        flex-direction: row;
        place-content: flex-end;

        > a {
          margin: 0 0.5rem;
        }
      }
    }

    .hero-edition {
      border-left: 1px solid $bg-x-light;
      padding: 1rem;

      height: 100%;
      width: 50rem;
    }
  }
}
