<section class="new-battle-form">
  <header>
    <h2>New battle</h2>
  </header>
  <main>
    <dnd-tabs class="form-row">
      <dnd-tab [tabTitle]="'Basemap'">
        <article class="basemaps">
          <label for="basemap">Pick a Basemap</label>
          <select [(ngModel)]="basemap" id="basemap" name="basemap">
            <option *ngFor="let b of basemaps" [value]="b.id">{{b.label}}</option>
          </select>
        </article>
      </dnd-tab>
      <dnd-tab [tabTitle]="'Players'" >
        <article class="players-characters">
          <dnd-battle-character-item *ngFor="let pc of values(playersCharacters)"  [character]="pc">
            <a class="remove" (click)="removePC(pc)">
              <fa-icon [icon]="'trash'"></fa-icon>
            </a>
          </dnd-battle-character-item>
        </article>
      </dnd-tab>
      <dnd-tab [tabTitle]="'Non-Players'">
        <article class="non-players-characters">
          <nav class="npc-actions">
            <input id="npc-picker" type="text" [(ngModel)]="npc" [ngbTypeahead]="searchNPC"  [resultFormatter]="formatter" [inputFormatter]="formatter" placeholder="Enter a NPC's name"/>
            <a (click)="addNPC()" class="btn" [hidden]="!!npc">
              <fa-icon [icon]="'user-plus'"></fa-icon>
            </a>
          </nav>
          <dnd-battle-character-item *ngFor="let npc of values(nonPlayersCharacters)" [character]="npc">
            <a class="remove" (click)="removeNPC(npc)">
              <fa-icon [icon]="'trash'"></fa-icon>
            </a>
          </dnd-battle-character-item>
        </article>
      </dnd-tab>
    </dnd-tabs>
  </main>
  <footer>
    <a (click)="startBattle()" class="btn">
      <fa-icon [icon]="'play'"></fa-icon>
    </a>
  </footer>
</section>
