@import 'src/variables';

.new-battle-form {
  display: grid;
  grid-template-rows: 4rem 1fr 5rem;

  padding: 1rem;

  header {
    position: relative;
    top: 0;
    left: 0;
  }

  main {
    min-height: 15rem;

    label {
      font-weight: bold;
    }

    input, select, #characters {
      margin: 0.5rem 0;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    place-content: flex-start;

    .btn {
      background-color: $bg-x-light;
      font-size: $font-size-base * 1.5;
      margin: 0.5rem;
      padding: 0.5rem;
    }
  }
}
