@import 'src/variables';

.character-row {
  display: grid;
  grid-template-columns: 2.5rem 2.5rem 1fr 2.5rem 2.5rem;
  grid-template-rows: 2rem;
  place-items: center;
  margin: 1rem;
  padding: 1rem;

  .name {
    height: 2.5rem;
    width: 50%;
    margin: auto;

    background-color: transparent;
    color: $font-color;
    border: none;

    font-family: 'Krona One';
    font-size: 1.75rem;
  }

  .class-icon {
    height: 2rem;
    width: 2rem;
    background-size: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-right: 2rem;
  }

  .Barbarian-icon {
    background-image: url('~src/assets/images/class/barbarian_icon.jpeg');
  }

  .Bard-icon {
    background-image: url('~src/assets/images/class/bard_icon.jpeg');
   }

  .Cleric-icon {
    background-image: url('~src/assets/images/class/cleric_icon.jpeg');
  }

  .Druid-icon {
    background-image: url('~src/assets/images/class/druid_icon.jpeg');
  }

  .Fighter-icon {
    background-image: url('~src/assets/images/class/fighter_icon.jpeg');
  }

  .Monk-icon {
    background-image: url('~src/assets/images/class/monk_icon.jpeg');
  }

  .Paladin-icon {
    background-image: url('~src/assets/images/class/paladin_icon.jpeg');
  }

  .Ranger-icon {
    background-image: url('~src/assets/images/class/ranger_icon.jpeg');
  }

  .Rogue-icon {
    background-image: url('~src/assets/images/class/rogue_icon.jpeg');
  }

  .Sorcerer-icon {
    background-image: url('~src/assets/images/class/sorcerer_icon.jpeg');
  }

  .Warlock-icon {
    background-image: url('~src/assets/images/class/warlock_icon.jpeg');
  }

  .Wizard-icon {
    background-image: url('~src/assets/images/class/wizard_icon.jpeg');
  }

  input, span, a {
    margin: 0 0.5rem;
  }
}

.active-character {
  border: 3px dashed darkgoldenrod;
}
