<main class="home">
  <section>
    <article>
      <h4>What's this ?</h4>
      <p>
        My little program to help you play and enjoy <strong class="text-primary">DnD 5e</strong>.
        <br/>
        Lots of feature incoming :
      </p>
      <ul>
        <li>Battle initiative handler</li>
        <li>Bestiary</li>
        <li>Character creation</li>
        <li>Interactive battle map</li>
      </ul>
    </article>
    <article>
      <h4>Why this ?</h4>
      <p>
        Mostly learning Angular / Redux / NodeJS.
        But also ease the <em class="text-warning">tedious</em> managing a GM have to do.
      </p>
    </article>
  </section>
  <section>
    <article>
      <h4>Download the localstorage</h4>
      <a class="btn" (click)="download()">Download State</a>
    </article>
    <article>
      <h4>Upload to localstorage</h4>
      <textarea #stateData></textarea>
      <a  class="btn" (click)="upload()">Upload State</a>
    </article>
  </section>
</main>
