@import 'src/variables';

.character-row {
  display: grid;
  grid-template-columns: 4rem 1fr 6rem 6rem 1fr;
  place-items: center;
  margin: 0;
  padding: .5rem;
  background-color: $bg-dark;

  border: 1px dashed $bg-x-light;


  .class-icon {
    height: 2rem;
    width: 2rem;
    background-size: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
  }

  .Barbarian-icon {
    background-image: url('~src/assets/images/class/barbarian_icon.jpeg');
  }

  .Bard-icon {
    background-image: url('~src/assets/images/class/bard_icon.jpeg');
  }

  .Cleric-icon {
    background-image: url('~src/assets/images/class/cleric_icon.jpeg');
  }

  .Druid-icon {
    background-image: url('~src/assets/images/class/druid_icon.jpeg');
  }

  .Fighter-icon {
    background-image: url('~src/assets/images/class/fighter_icon.jpeg');
  }

  .Monk-icon {
    background-image: url('~src/assets/images/class/monk_icon.jpeg');
  }

  .Paladin-icon {
    background-image: url('~src/assets/images/class/paladin_icon.jpeg');
  }

  .Ranger-icon {
    background-image: url('~src/assets/images/class/ranger_icon.jpeg');
  }

  .Rogue-icon {
    background-image: url('~src/assets/images/class/rogue_icon.jpeg');
  }

  .Sorcerer-icon {
    background-image: url('~src/assets/images/class/sorcerer_icon.jpeg');
  }

  .Warlock-icon {
    background-image: url('~src/assets/images/class/warlock_icon.jpeg');
  }

  .Wizard-icon {
    background-image: url('~src/assets/images/class/wizard_icon.jpeg');
  }

  .friendly-icon {
    background-image: url('~src/assets/images/icons/friendly.png');
    background-color: #ffffff99;
  }

  .hostile-icon {
    background-image: url('~src/assets/images/icons/hostile.png');
    background-color: #6f6b6b99;
  }

  .name, .initiative {
    height: 2rem;
    padding: 0 1rem;

    background-color: transparent;
    color: $font-color;
    border: none;

    font-family: 'Krona One';
    font-size: 1rem;
  }

  .initiative {
    text-align: center;
  }

  .character-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    place-content: flex-end;
  }
}

.active-character {
  border: 3px dashed darkgoldenrod;
}
