<article class="character-row" [class.active-character]="character.active">
  <span class="class-icon" [class]="iconClass(character)"></span>
  <input class="name" type="text" [(ngModel)]="character.name" placeholder="Character's name" [disabled]="!allowEdition"/>
  <span class="hp" [innerHTML]="character | hpFormatter"></span>
  <input class="initiative" type="number" min="0" max="30" [(ngModel)]="character.initiative" [disabled]="!allowEdition"/>
  <span class="character-actions"><ng-content></ng-content></span>
</article>
