<article [class.active-character]="character.active" class="character-row">
  <span [class]="iconClass(character)" class="class-icon"></span>
  <input [(ngModel)]="character.name" [disabled]="!allowEdition" class="name" placeholder="Character's name" type="text"/>
  <span [innerHTML]="character | hpFormatter" class="hp"></span>
  <input [(ngModel)]="character.initiative" [disabled]="!allowEdition" class="initiative" max="30" min="0" type="number"/>
  <nav class="character-actions"><ng-content></ng-content></nav>
</article>
