<section *ngIf="!!npc" class="npc-form">
  <header>
    <input [(ngModel)]="npc.name" id="npcName" placeholder="npc's name" type="text"/>
    <fa-icon (click)="changeHostility()" [icon]="hostilityIcon()" class="hostility"></fa-icon>
  </header>
  <main>
    <article class="form-row">
      <label for="npcType">Type</label>
      <select [(ngModel)]="npc.creatureType" id="npcType">
        <option *ngFor="let type of keys(enumCreatureType)" [ngValue]="enumCreatureType[type]">{{enumCreatureType[type]}}</option>
      </select>
    </article>

    <article class="form-row">
      <label for="npcCR">Challenge Rating</label>
      <select [(ngModel)]="npc.cr" id="npcCR">
        <option *ngFor="let cr of keys(enumChallengeRating)" [ngValue]="enumChallengeRating[cr]">{{enumChallengeRating[cr]}}</option>
      </select>
    </article>

    <article class="form-row">
      <label for="npcHP">Health Points</label>
      <div id="npcHP">
        <input [(ngModel)]="npc.hp" min="1" placeholder="current HP" type="number"/>
        <strong>/</strong>
        <input [(ngModel)]="npc.maxHP" min="1" placeholder="max HP" type="number"/>
      </div>
    </article>

    <article class="form-row attributes">
      <div class="attribute">
        <label for="npcStr">STR</label>
        <input [(ngModel)]="npc.attributes.strength" id="npcStr" max="20" min="0" type="number"/>
      </div>
      <div class="attribute">
        <label for="npcDex">DEX</label>
        <input [(ngModel)]="npc.attributes.dexterity" id="npcDex" max="20" min="0" type="number"/>
      </div>
      <div class="attribute">
        <label for="npcCon">CON</label>
        <input [(ngModel)]="npc.attributes.constitution" id="npcCon" max="20" min="0" type="number"/>
      </div>
      <div class="attribute">
        <label for="npcInt">INT</label>
        <input [(ngModel)]="npc.attributes.intelligence" id="npcInt" max="20" min="0" type="number"/>
      </div>
      <div class="attribute">
        <label for="npcWis">WIS</label>
        <input [(ngModel)]="npc.attributes.wisdom" id="npcWis" max="20" min="0" type="number"/>
      </div>
      <div class="attribute">
        <label for="npcCha">CHA</label>
        <input [(ngModel)]="npc.attributes.charisma" id="npcCha" max="20" min="0" type="number"/>
      </div>
    </article>
  </main>
  <footer>
    <a (click)="saveNpc()" class="btn">
      <fa-icon [icon]="'save'"></fa-icon>
    </a>
  </footer>
</section>
