@import 'src/variables';

.npc-form {
  display: grid;
  grid-template-rows: 4rem 1fr 5rem;

  padding: 1rem;

  header {
    position: relative;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 1fr 5rem;

    #npcName {
      height: 2.5rem;
      width: 100%;

      background-color: transparent;
      color: $font-color;
      border: none;

      font-family: 'Krona One';
      font-size: 1.75rem;
    }

    .hostility {
      font-size: 2rem;

      cursor: pointer;

      transition: $transition-speed;
    }

    .hostility:hover {
        color: $link-color;
    }
  }

  main {
    min-height: 15rem;

    label {
      font-weight: bold;
    }

    input, select {
      margin: 0.5rem 0;
    }

    #npcHP {
      display: grid;
      grid-template-columns: 1fr 1rem 1fr;

      strong {
        place-items: center;
        margin: auto;
        display: flex;
        height: 100%;
      }
    }

    .attributes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

      text-align: center;

      .attribute {
        margin: 0 0.2rem;
        font-weight: bold;

        input {
          text-align: center;
        }
      }
    }

  }

  footer {
    display: flex;
    flex-direction: row;
    place-content: flex-start;

    .btn {
      background-color: $bg-x-light;
      font-size: $font-size-base * 1.5;
      margin: 0.5rem;
      padding: 0.5rem;
    }
  }
}
