<section class="active-battle">
  <header>
    <h2>Active Battle</h2>
    <nav class="actions">
      <a (click)="openAddToBattle()" class="btn" *ngIf="battleStarted() | async">
        <fa-icon [icon]="'user-plus'"></fa-icon>
      </a>
      <a (click)="previousTurn()" class="btn" *ngIf="(battleStarted() | async) && !(onTurn0() | async)">
        <fa-icon [icon]="'step-backward'"></fa-icon>
      </a>
      <a (click)="nextTurn()" class="btn" *ngIf="battleStarted() | async">
        <fa-icon [icon]="'step-forward'"></fa-icon>
      </a>
      <a (click)="endBattle()" class="btn" *ngIf="battleStarted() | async">
        <fa-icon [icon]="'stop'"></fa-icon>
      </a>
      <a (click)="newBattle()" class="btn" *ngIf="!(battleStarted() | async)">
        <fa-icon [icon]="'dice-d20'"></fa-icon>
      </a>
    </nav>
  </header>
  <main>
    <section class="characters-list">
      <dnd-battle-character-item *ngFor="let character of characters$ | async" [character]="character" [allowEdition]="false" ></dnd-battle-character-item>
    </section>
  </main>
</section>
