@import 'src/variables';

.active-battle {
  padding: 1rem 0 0 1rem;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr;

  height: calc(100% - #{$footer-height});

  > header {
    margin: 0;
    padding: 0 0 2rem 2rem;
    border-bottom: 1px solid $bg-x-light;

    display: flex;
    flex-direction: row;

    > nav {
      display: flex;
      flex-direction: row;
      place-content: flex-end;

      width: 100%;
      padding: 0 2rem;

      .btn {
        background-color: $bg-x-light;

        margin: 0.5rem;
        padding: 0.75rem;

        height: 2rem;
        font-size: 2rem;
        width: auto;

        cursor: pointer;

        fa-icon {
          position: relative;
          top: -6px;
        }

        span {
          margin-left: 0.5rem;
        }
      }
    }

  }

  main {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1rem 1fr;

    overflow: auto;
    overflow-x: hidden;

    .characters-list {
      display: flex;
      flex-direction: column;
      padding: 2rem 5rem;

      ::ng-deep .size-selector {
        width: 8rem;
        margin: 0 .5rem;
      }
      ::ng-deep .health-handler {
        width: 3.5rem;
        margin: 0 .5rem;
      }
    }
  }

  main::-webkit-scrollbar {
    width: 0.25rem;
  }

  main::-webkit-scrollbar-track {
    background: $bg-overlay;
  }

  main::-webkit-scrollbar-thumb {
    background: $bg-dark;
  }
}
