@import '~src/variables';

::ng-deep .layer-switcher {

  .panel {
    margin: 0;
    padding: 0 1rem 0 0;
    list-style: none;
  }

  ul ul {
    padding: 0 0 0 0.5rem;
  }

  .ol-header {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  > li {
    max-height: 20rem;
    overflow: auto;
    overflow-x: hidden;
  }

  li {
    list-style: none;

    display: grid;
    grid-template-columns: 1.5rem 1fr;
    grid-template-rows: 1fr;

    padding: 0;
    margin: 0;

    background-color: $bg-dark;

    .ol-layerswitcher-buttons {
      display: flex;
      flex-direction: row-reverse;

      .layerup, .layerTrash {
        width: 0;
        height: 0;
        visibility: hidden;
      }

      .expend-layers, .collapse-layers {
        height: 3rem;
        width: 1.5rem;
        color: $font-color;
        font-size: .75rem;

        :before, :after {
          font-family:"FontAwesome";
          font-weight: 900;
          border-color: #fff;
          border-style: solid;
          border-width: 0.4em 0.4em 0;
          height: 0;
          bottom: 3px;
          width: 0;
        }

        .expend-layers:before {
          content: "\f078";
        }

        .collapse-layers:before {
          content: "\f054";
        }
      }

    }

    .li-content {
      display: flex;
      place-items: center;
      height: 3rem;
      padding-left: 2rem;

      ::before {
        content: '';
      }

      [type=checkbox] {
        width: 0;
        height: 0;
        visibility: hidden;
      }

      label {
        width: 60%;
        margin: 0;
      }

      .layerup, .layerTrash, .layerswitcher-opacity-label {
        width: 0;
        height: 0;
        visibility: hidden;
      }
    }
  }

  li.visible[class*="ol-layer-"] {
    background-color: $bg-x-light;
  }
}
