@import '~src/variables';

.map {
  margin: 0;
  padding: 0;
  height: 92vh;
}

.map menu {
  position: fixed;
  top: $nav-height + 2rem;
  right: 0;

  height: 80%;
  width: 22rem;
  padding: 0;

  transition: 500ms;
}

.map menu::-webkit-scrollbar {
  width: 0.25rem;
}

.map menu::-webkit-scrollbar-track {
  background: $overlay-bg;
}

.map menu::-webkit-scrollbar-thumb {
  background: $body-bg;
}

.map #battle_map {
  width: 100% !important;
  height: 100%;
}

.tools {
  width: 100%;

  .btn {
    background-color: $body-bg-x-light;
    margin: 0.5rem;
    font-size: $font-size-base * 1.5;
    padding: 0.5rem;
  }

  .btn:hover, .btn.active {
    background-color: $body-bg;
    color: $link-color;
    filter: none;
  }
}

.layers {
  width: 100%;
}

.map menu.collapsed {
  width: 5rem;

  ::ng-deep .tabs-links {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

.collapse-btn {
  position: relative;
  top: 0;
  left: 0;
  height: 0;
  width: 0;

  a {
    position: absolute;
    top: 20rem;
    left: -3px;

    display: block;
    height: 4rem;
    width: 0.8rem;

    background-color: $body-bg;
    transition: $transition-speed;

    fa-icon {
      color: $font-color;
      font-size: 1.2rem;
      position: relative;
      top: 1.1rem;
    }
  }
}

.collapse-btn:hover {
  background-color: $link-color;

  fa-icon {
    color: $font-color;
  }
}
