<section class="map">
  <main id="battle_map">
  </main>
  <menu class="overlay" [class.collapsed]="collapsed">
    <a class="collapse-btn" (click)="expandOrCollapse()">
      <fa-icon [icon]="collapsingIcon()"></fa-icon>
    </a>
    <nav class="tabs-pills">
      <a class="tab-pill"> <small>Tools</small></a>
      <a class="tab-pill"> <small>Layers</small></a>
    </nav>
    <section class="tabs">
      <article class="tools">
        <a class="btn" (click)="useTool(TOOLS.player)"
           [class.active]="isCurrentTool(TOOLS.player)">
          <fa-icon [icon]="'user-plus'"></fa-icon>
        </a>
        <a class="btn" (click)="useTool(TOOLS.select)"
           [class.active]="isCurrentTool(TOOLS.select)">
          <fa-icon [icon]="'hand-point-up'"></fa-icon>
        </a>
        <a class="btn" (click)="useTool(TOOLS.pointer)"
           [class.active]="isCurrentTool(TOOLS.pointer)">
          <fa-icon [icon]="'map-marker'"></fa-icon>
        </a>
        <a class="btn" (click)="useTool(TOOLS.line)"
           [class.active]="isCurrentTool(TOOLS.line)">
          <fa-icon [icon]="'pencil-ruler'"></fa-icon>
        </a>
        <a class="btn" (click)="useTool(TOOLS.polygon)"
           [class.active]="isCurrentTool(TOOLS.polygon)">
          <fa-icon [icon]="'draw-polygon'"></fa-icon>
        </a>
        <a class="btn" (click)="useTool(TOOLS.circle)"
           [class.active]="isCurrentTool(TOOLS.circle)">
          <fa-icon [icon]="'circle'"></fa-icon>
        </a>
        <a class="btn" (click)="useTool(TOOLS.eraser)"
           [class.active]="isCurrentTool(TOOLS.eraser)">
          <fa-icon [icon]="'eraser'"></fa-icon>
        </a>
      </article>
      <article class="layers">
        <div class="layer-switcher"></div>
      </article>
    </section>
    <dnd-create-edit-character *ngIf="isFeatureSelected()" [character]="selectedCharacter" (createdCharacter)="createOrEditFeatureCharacter($event)"></dnd-create-edit-character>
  </menu>
</section>

