@import '~src/variables';

$map-height: calc(100vh - 5.5rem);
$map-width: 100vw;

.map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  #battle_map {
    height: $map-height;
    max-height: $map-height;
    width: $map-width;
    max-width: $map-width;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}

dnd-map-tools, dnd-map-layer-switcher {
  position: fixed;
  top: 0;
  left: 0;
}
