@import '~src/variables';

.map {
  margin: 0;
  padding: 0;
  height: 92vh;
}

.map menu {
  position: fixed;
  top: $nav-height + 2rem;
  right: 0;

  height: 80%;
  width: 22rem;
  padding: 0 1rem;

  overflow: auto;
  overflow-x: hidden;

  transition: 500ms;
}

.map menu::-webkit-scrollbar {
  width: 0.25rem;
}

.map menu::-webkit-scrollbar-track {
  background: $overlay-bg;
}

.map menu::-webkit-scrollbar-thumb {
  background: $body-bg;
}

.map menu.collapsed {
  width: 4rem;
}

.map #battle_map {
  width: 100% !important;
  height: 100%;
}

.tools {
  width: 100%;

  .btn {
    background-color: $body-bg-x-light;
    margin: 0.5rem;
    font-size: $font-size-base * 1.5;
    padding: 0.5rem;
  }

  .btn:hover, .btn.active {
    background-color: $body-bg;
    color: $link-color;
    filter: none;
  }
}

.layers {
  width: 100%;
}

.map menu.collapsed {
  .layers, h6 {
    visibility: hidden;
  }
}

.collapse-btn {
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 1rem;
  background-color: $font-color;
  transition: $transition-speed;

  fa-icon {
    color: $body-bg-x-light;
    position: relative;
    top: -4px;
    left: -1px;
  }
}

.collapse-btn:hover {
  background-color: $link-color;

  fa-icon {
    color: $body-bg;
  }
}
