.map {
  position: relative;
  top: 0;
  left: 0;
  height: 90vh;
}
.map menu {
  background-color: #3e3e5255;
  border: 2px dotted #3e3e52a0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  z-index: 2;
}
.map #battle_map {
  width: 100% !important;
  height: 100%;
  z-index: 1;
}

.tools {
  width: 100%;
}
.tools .btn {
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  display: inline-grid;
  place-items: center;
  color: #3e3e52;
  font-size: 1.5rem;
}
