<section class="map">
  <main id="battle_map">
  </main>
  <menu class="overlay" [class.collapsed]="collapsed">
    <a class="collapse-btn" (click)="expandOrCollapse()">
      <fa-icon [icon]="arrowIcon()"></fa-icon>
    </a>
    <section class="tools">
      <h6>Tools</h6>
      <a class="btn" (click)="useTool(TOOLS.player)"
         [class.active]="isCurrentTool(TOOLS.player)">
        <fa-icon [icon]="'user-plus'"></fa-icon>
      </a>
      <a class="btn" (click)="useTool(TOOLS.monster)"
         [class.active]="isCurrentTool(TOOLS.monster)">
        <fa-icon [icon]="'ghost'"></fa-icon>
      </a>
      <a class="btn" (click)="useTool(TOOLS.pointer)"
         [class.active]="isCurrentTool(TOOLS.pointer)">
        <fa-icon [icon]="'map-marker'"></fa-icon>
      </a>
      <a class="btn" (click)="useTool(TOOLS.line)"
         [class.active]="isCurrentTool(TOOLS.line)">
        <fa-icon [icon]="'pencil-ruler'"></fa-icon>
      </a>
      <a class="btn" (click)="useTool(TOOLS.polygon)"
         [class.active]="isCurrentTool(TOOLS.polygon)">
        <fa-icon [icon]="'draw-polygon'"></fa-icon>
      </a>
      <a class="btn" (click)="useTool(TOOLS.circle)"
         [class.active]="isCurrentTool(TOOLS.circle)">
        <fa-icon [icon]="'circle'"></fa-icon>
      </a>
      <a class="btn" (click)="useTool(TOOLS.eraser)"
         [class.active]="isCurrentTool(TOOLS.eraser)">
        <fa-icon [icon]="'eraser'"></fa-icon>
      </a>
    </section>
    <section class="layers">
      <h6>Layers</h6>
      <a class="dugeon-picker" (click)="treeify()">
        <fa-icon class="fa-2x" [icon]="'dungeon'"></fa-icon>
      </a>
      <select [(ngModel)]="basemap" name="basemap" (change)="changeBasemap()">
        <option *ngFor="let b of baseMaps" [value]="b">{{ basemapName(b)}}</option>
      </select>
    </section>
  </menu>
</section>

