<section class="add-characters-form">
  <header>
    <h2>Add Battle Characters</h2>
  </header>
  <main>
    <dnd-tabs class="form-row">
      <dnd-tab [tabTitle]="'Players'">
        <article class="players-characters">
          <dnd-battle-character-item *ngFor="let pc of values(playersCharacters)" [character]="pc">
            <a (click)="removePC(pc)" class="remove">
              <fa-icon [icon]="'trash'"></fa-icon>
            </a>
          </dnd-battle-character-item>
        </article>
      </dnd-tab>
      <dnd-tab [tabTitle]="'Non-Players'">
        <article class="non-players-characters">
          <nav class="npc-actions">
            <input [(ngModel)]="npc" [inputFormatter]="formatter" [ngbTypeahead]="searchNPC" [resultFormatter]="formatter" id="npc-picker" placeholder="Enter a NPC's name" type="text"/>
            <a (click)="addNPC()" [hidden]="!!npc" class="btn">
              <fa-icon [icon]="'user-plus'"></fa-icon>
            </a>
          </nav>
          <dnd-battle-character-item *ngFor="let npc of values(nonPlayersCharacters)" [character]="npc">
            <a (click)="removeNPC(npc)" class="remove">
              <fa-icon [icon]="'trash'"></fa-icon>
            </a>
          </dnd-battle-character-item>
        </article>
      </dnd-tab>
    </dnd-tabs>
  </main>
  <footer>
    <a (click)="addToBattle()" class="btn">
      <fa-icon [icon]="'user-plus'"></fa-icon>
    </a>
  </footer>
</section>
