@import '~src/variables';

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $nav-height 1fr $footer-height !important;
  min-height: 100vh;
  width: 100vw;
}

.main .header {
  background-color: #ffffff07;
  display: flex;
  flex-direction: row;
}

.main .content {
  margin: 0;
  padding: 0;

  height: available !important;
}


.main .footer {
  background-color: #ffffff07;
}
