@import '~src/variables';

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $nav-height 1fr $footer-height !important;
  min-height: 100vh;
  width: 100vw;
}

.main .header {
  background-color: #ffffff07;
  display: grid;
  grid-template-columns: 25rem 0 1fr;
}

.logo {
  display: flex;
  flex-direction: row;
  place-items: center;

  padding: 0 0 0 1.5rem;
}

.logo:hover {
  background-color: $body-bg !important;
}

.logo span {
  font-family: "Press Start 2P";
  transition: $transition-speed;
}

.logo:hover span.d {
  color: $link-color;
}

.main .content {
  margin: 0;
  padding: 0;

  height: available !important;
}


.main .footer {
  background-color: #ffffff07;
  font-family: "Press Start 2P";
  font-size: small;
  display: flex;
  place-items: center;
  margin: auto;
}
