$bg-dark: #23232e;
$bg-light: #292934;
$bg-x-light: #2e2e3c;
$bg-overlay: #23232ed1;

$content-index : 1;
$overlay-index : 100;

$font-size-base: 1rem;
$font-color: #b6b6b6;
$link-color: #773ed9;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base * 1.10 !default;

$barbarian-color: #d48369;
$bard-color: #b087b1;
$cleric-color: #a2a3a5;
$druid-color: #889253;
$fighter-color: #6e4e43;
$monk-color: #78bcd6;
$paladin-color: #c7b47d;
$ranger-color: #5c8970;
$rogue-color: #555650;
$sorcerer-color: #cd7c7b;
$warlock-color: #7745ac;
$wizard-color: #376abc;


$nav-height : 3.5rem !default;
$footer-height: 1.5rem !default;

$transition-speed: 600ms;
$logo: ''
