$body-bg: #23232e;
$body-bg-light: #292934;
$body-bg-x-light: #2e2e3c;

$overlay-bg: #23232ed1;

$content-index : 1;
$overlay-index : 100;

$font-size-base: 1rem;
$font-color: #b6b6b6;
$link-color: #773ed9;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base * 1.10 !default;

$label-font-size: $font-size-base * 0.80 !default;

$nav-height : 3.5rem !default;
$footer-height: 1.5rem !default;

$transition-speed: 600ms;
$logo: ''
