<menu class="map-tools">
  <a class="btn" (click)="useTool(Tools.point)"
     [class.active]="isCurrentTool(Tools.point)">
    <fa-icon [icon]="'map-marker'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(Tools.line)"
     [class.active]="isCurrentTool(Tools.line)">
    <fa-icon [icon]="'pencil-ruler'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(Tools.polygon)"
     [class.active]="isCurrentTool(Tools.polygon)">
    <fa-icon [icon]="'draw-polygon'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(Tools.circle)"
     [class.active]="isCurrentTool(Tools.circle)">
    <fa-icon [icon]="'circle'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(Tools.edit)"
     [class.active]="isCurrentTool(Tools.edit)">
    <fa-icon [icon]="'edit'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(Tools.eraser)"
     [class.active]="isCurrentTool(Tools.eraser)">
    <fa-icon [icon]="'eraser'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(Tools.trash)"
     [class.active]="isCurrentTool(Tools.trash)">
    <fa-icon [icon]="'trash'"></fa-icon>
  </a>
</menu>
