<menu class="map-tools">
  <a class="btn" (click)="useTool(tools.point)"
     [class.active]="isCurrentTool(tools.point)">
    <fa-icon [icon]="'map-marker'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(tools.line)"
     [class.active]="isCurrentTool(tools.line)">
    <fa-icon [icon]="'pencil-ruler'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(tools.polygon)"
     [class.active]="isCurrentTool(tools.polygon)">
    <fa-icon [icon]="'draw-polygon'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(tools.circle)"
     [class.active]="isCurrentTool(tools.circle)">
    <fa-icon [icon]="'circle'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(tools.edit)"
     [class.active]="isCurrentTool(tools.edit)">
    <fa-icon [icon]="'edit'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(tools.eraser)"
     [class.active]="isCurrentTool(tools.eraser)">
    <fa-icon [icon]="'eraser'"></fa-icon>
  </a>
  <a class="btn" (click)="useTool(tools.trash)"
     [class.active]="isCurrentTool(tools.trash)">
    <fa-icon [icon]="'trash'"></fa-icon>
  </a>
</menu>
