@import '~src/variables';

.map-tools {
  position: fixed;
  top: $nav-height + 2rem;
  right: 0;

  background-color: $bg-overlay;

  width: 5rem;
  padding: 0;

  .btn {
    background-color: $bg-x-light;
    margin: 0.5rem;
    font-size: $font-size-base * 1.5;
    padding: 0.5rem;
  }

  .btn:hover, .btn.active {
    background-color: $bg-dark;
    color: $link-color;
    filter: none;
  }
}
