<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <span class="navbar-brand p-0">
        <fa-icon [icon]="'dragon'" class="logo"></fa-icon>
        Dungeons & Dragons
    </span>
    <span class="flex-fill"></span>
    <div class="navbar p-0">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/home'">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/heroes'">Heroes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/bestiary'">Bestiary</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   [routerLinkActive]="['active']"
                   data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" [hidden]="" [routerLinkActive]="['active']" [routerLink]="'/log-in'">Log in</a>
                    <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="'/log-out'">Log out</a>
                    <a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="'/sign-up'">Sign up</a>
                </div>
            </li>
        </ul>
    </div>
</nav>