<nav class="navbar">
  <a [routerLinkActive]="['active']" [routerLink]="'/map'" class="nav-link">
    <fa-icon [icon]="'map'"></fa-icon>
  </a>
  <a [routerLinkActive]="['active']" [routerLink]="'/battle'" class="nav-link">
    <fa-icon [icon]="'chess-board'"></fa-icon>
  </a>
  <a [routerLinkActive]="['active']" [routerLink]="'/npc'" class="nav-link">
    <fa-icon [icon]="'book-dead'"></fa-icon>
  </a>
  <a [routerLinkActive]="['active']" [routerLink]="'/players'" class="nav-link">
    <fa-icon [icon]="'gamepad'"></fa-icon>
  </a>
  <a [routerLinkActive]="['active']" [routerLink]="'/home'" class="nav-link">
    <fa-icon [icon]="'info'"></fa-icon>
  </a>
</nav>
