<nav class="navbar">
  <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/map'">
    <fa-icon [icon]="'map'"></fa-icon>
  </a>
  <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/encounters'">
    <fa-icon [icon]="'dice-d20'"></fa-icon>
  </a>
  <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/npc'">
    <fa-icon [icon]="'khanda'"></fa-icon>
  </a>
  <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/players'">
    <fa-icon [icon]="'users'"></fa-icon>
  </a>
  <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/home'">
    <fa-icon [icon]="'info'"></fa-icon>
  </a>
</nav>
