@import '~src/variables';

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  place-content: flex-end;
}

.nav-link {
  display: flex;
  height: 100%;
  place-items: center;
  padding: 0 1.5rem 0 1rem;

  font-size: $h2-font-size;
}

.nav-link:hover, .nav-link.active {
  background-color: $bg-light !important;

}
.nav-link span {
  color: $font-color !important;
  margin-left: 0.5rem;
}

